.wrapper {
    position: relative;
    padding: 16px 8px 8px;
}

.discover-content {
    display: flex;
    flex-wrap: wrap;

    .discover-item {
        display: flex;
        align-items: center;
        height: 24px;
        margin: 0 8px 12px 0;

        > div {
            max-width: calc(100% - 20px);
        }
    }
}

.discover-title {
    margin-bottom: 16px;
    font-size: 1.4rem;
    line-height: 20px;
    color: var(--text-color-lighter);
}

.discover-text {
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--text-color-lighter);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
