.discover-content {
    display: flex;
    flex-wrap: wrap;
}

.discover-item {
    display: flex;
    align-items: center;
    height: 24px;
    margin: 0 8px 12px 0 !important;
}

.discover-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #161823bf;
    font-weight: 400;
    font-size: 1.4rem;
}
