.wrapper {
    position: relative;
    padding: 16px 8px 8px;

    &:before {
        content: '';
        position: absolute;
        height: 1px;
        top: 0;
        left: 8px;
        right: 8px;
        background-color: var(--text-color-lightest);
    }
}

.discover-content {
    display: flex;
    flex-wrap: wrap;

    .discover-item {
        display: flex;
        align-items: center;
        height: 24px;
        margin: 0 8px 12px 0;

        > div {
            max-width: calc(100% - 20px);
        }
    }
}

.discover-title {
    color: var(--text-color-lighter);
    margin-bottom: 16px;
    font-size: 1.4rem;
    line-height: 20px;
}

.discover-text {
    color: var(--text-color-lighter);
    font-weight: 400;
    font-size: 1.4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
