.wrapper {
    width: 320px;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.username {
    color: var(--text-color);
    font-family: SofiaPro;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 22px;
}

.blue-tick {
    margin-left: 4px;
}

.name {
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 20px;
}

.account-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;

    .status ~ .status {
        margin-left: 12px;
    }
}

.status {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.number {
    margin-right: 6px;
    color: var(--text-color);
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 20px;
}

.text {
    color: var(--text-color-lighter);
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
}
