.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: var(--default-layout-header-height);
}
