// Login
.modal {
    width: 483px;
    height: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 48px 0px 0px;
}

.back-btn-login {
    position: absolute;
    width: 24px;
    height: 31px;
    top: 16px;
    left: 16px;
    cursor: pointer;
}

.clear-login {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 40.8px;
    height: 40.8px;
    top: 16px;
    right: 16px;
    border-radius: 50%;
    background-color: #16182308;
    cursor: pointer;
}

.login-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 375px;
    margin: auto;

    .login-btn {
        display: block;
        width: 100%;
        height: 46px;
        margin-top: 10px;
        border: none;
        color: rgba(22, 24, 35, 0.34);
        background-color: rgba(22, 24, 35, 0.14);
    }

    .active-btn {
        color: #fff;
        background-color: var(--primary);
        cursor: pointer;
    }

    .loading {
        width: 26px;
        height: 26px;
        margin-top: -5px;
        font-weight: 700;
        color: var(--white);
        animation: spinner 0.6s linear infinite;
    }

    @keyframes spinner {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }
}

.login-title {
    margin: 16px auto;
    font-family: SofiaPro;
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
}

.login-desc {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-family: ProximaNova;
}

.email-username {
    font-size: 1.5rem;
    font-weight: 600;
}

.login-link {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color-lighter);

    &:hover {
        text-decoration: underline;
    }
}

.error-text {
    align-self: center;
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--primary);
}

.login-input {
    display: block;
    position: relative;
    width: 100%;
    height: 44px;
    margin-bottom: 9px;
    padding: 1px 1px 1px 12px;
    border-radius: 2px;
    border: 1px solid #1618231f;
    font-family: ProximaNova;
    font-size: 1.6rem;
    caret-color: var(--primary);
    background-color: #1618230f;

    &::placeholder {
        font-weight: 300;
        color: #888;
    }
}

.login-footer {
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    line-height: 18px;
    width: 100%;
    height: 64px;
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    font-family: ProximaNova;
}

.sign-up {
    margin-left: 5px;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 18px;
    color: var(--primary);

    &:hover {
        text-decoration: underline;
    }
}
