.wrapper {
    position: relative;
    padding: 16px 0 0 8px;

    &:before {
        content: '';
        position: absolute;
        height: 1px;
        top: 0;
        left: 8px;
        right: 8px;
        background-color: var(--text-color-lightest);
    }
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.menu-item {
    display: inline-block;
    margin-right: 6px;
    margin-top: 5px;
    color: #16182380;
    font-size: 1.2rem;
    line-height: 17px;
    font-weight: 400;

    &:hover {
        text-decoration: underline;
    }
}

.footer {
    display: flex;
}

.footer-name {
    margin-right: 6px;
    margin-top: 5px;
    color: #16182380;
    font-size: 12px;
    font-weight: 400;
}
