.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    margin-right: 12px;
}

.username {
    font-size: 1.6rem;
    line-height: 2.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.name {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
    color: rgba(22, 24, 35, 0.5);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blue-tick {
    width: 24px;
    height: 24px;
    margin-left: 8px;
}
