.wrapper {
    display: flex;
    position: relative;
    padding: 20px 0;
    max-width: 692px;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        transform: scaleY(0.5);
        background-color: #16182333;
    }
}

.content {
    flex: 1;
    margin-left: 12px;

    .follow-btn {
        position: absolute;
        right: 0;
        top: 28px;
        min-height: 28px;
        font-weight: 700;
    }

    .following-btn {
        position: absolute;
        right: 0;
        top: 28px;
        max-width: 92px;
        min-height: 28px;
        font-weight: 700;
        border-color: rgb(208, 209, 211);
        background-color: rgb(255, 255, 255);
        border-radius: 4px;
        color: rgb(22, 24, 35);

        &:hover {
            border-color: rgb(208, 209, 211);
            background-color: rgb(248, 248, 248);
        }
    }
}

.avatar {
    &:hover {
        + .content {
            .username {
                text-decoration: underline;
            }
        }
    }
}

.wrapper-header {
    display: flex;
    align-items: flex-start;
}

.header {
    display: inline-flex;
    &:hover {
        cursor: pointer;

        .username {
            text-decoration: underline;
        }
    }
}

.username {
    display: flex;
    font-family: SofiaPro;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 25px;
    margin-right: 4px;

    .blue-tick {
        margin-left: 4px;
    }
}

.name,
.time,
.point {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 30px;
}

.point {
    padding: 0 3.5px;
    line-height: 27px;
}

.description {
    font-size: 1.6rem;
    line-height: 22px;
    font-weight: 400;
}

.music-wrapper {
    display: flex;
    align-items: center;
    margin: 4px 0 12px;
}

.music {
    display: inline-flex;
    align-items: center;

    &:hover {
        cursor: pointer;

        .music-name {
            text-decoration: underline;
        }
    }
}

.music-name {
    margin-left: 5px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 22px;
}

.video-wrapper {
    display: flex;
    align-items: flex-end;
}

.video {
    width: 336px;
    max-width: 336px;
    height: 600px;
}

.action {
    margin-left: 20px;
}

.heart-video {
    animation: scaleInOut 0.4s ease-in;
}

@keyframes scaleInOut {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.menu-list {
    position: relative;
}

.menu-wrapper {
    font-size: 1.6rem;
    line-height: 22px;
    width: 280px;
    padding: 8px 0px;
    max-height: 448px;
    overflow-y: auto;

    .menu-item {
        justify-content: flex-start;
        margin: 0;
        padding: 11px 16px;
    }

    .item-icon {
        margin-right: 4px;
    }

    .down-arrow {
        margin: 0;
        padding: 0 16px;
        min-height: 24px;
    }
}

.menu-list {
    &::after {
        content: '';
        position: absolute;
        bottom: -23px;
        left: 11%;
        border-top: 12px solid #fff;
        border-right: 12px solid transparent;
        border-left: 12px solid transparent;
        border-bottom: 12px solid transparent;
    }
}
