.wrapper {
    display: flex;
    position: relative;
    padding: 20px 0;
    max-width: 692px;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        transform: scaleY(0.5);
        background-color: #16182333;
    }
}

.content {
    flex: 1;
    margin-left: 12px;
}

.avatar {
    &:hover {
        + .content {
            .username {
                text-decoration: underline;
            }
        }
    }
}

.wrapper-header {
    display: flex;
    align-items: flex-start;
}

.header {
    display: inline-flex;
    &:hover {
        cursor: pointer;

        .username {
            text-decoration: underline;
        }
    }
}

.username {
    display: flex;
    font-family: SofiaPro;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 25px;
    margin-right: 4px;

    .blue-tick {
        margin-left: 4px;
    }
}

.name,
.time,
.point {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 30px;
}

.point {
    padding: 0 3.5px;
    line-height: 27px;
}

.description {
    font-size: 1.6rem;
    line-height: 22px;
    font-weight: 400;
}

.music-wrapper {
    display: flex;
    align-items: center;
    margin: 4px 0 12px;
}

.music {
    display: inline-flex;
    align-items: center;

    &:hover {
        cursor: pointer;

        .music-name {
            text-decoration: underline;
        }
    }
}

.music-name {
    margin-left: 5px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 22px;
}

.video-wrapper {
    display: flex;
    align-items: flex-end;
}

.video {
    width: 336px;
    max-width: 336px;
    height: 600px;
}

.action {
    margin-left: 20px;
}
