.wrapper {
    --search-btn-width: 52px;
    --search-spacing: 9px;
    --search-height: 46px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--white);
}

.logo {
    display: flex;
    object-fit: cover;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--default-layout-width);
    height: 100%;
    padding: 0 2.4rem 0 2rem;
}

.search-result,
.search {
    width: 360px;
}

.search-result {
    margin-top: -2px;
}

.scrollable {
    overflow-y: auto;
}

.search-title {
    display: block;
    height: 30px;
    padding: 5px 12px;
    font-size: 1.4rem;
    line-height: 20px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.search {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    height: var(--search-height);
    padding: 12px 16px;
    border: 1px solid transparent;
    border-radius: 92px;
    background-color: rgba(22, 24, 35, 0.06);
    caret-color: rgba(254, 44, 85, 1);
    color: var(--text-color);

    input:not(:placeholder-shown) ~ .search-btn {
        color: var(--text-color-lighter);
    }

    &:focus-within {
        border: 1px solid #aaa;
    }
}

.search-input {
    flex: 1;
    font-weight: 400;
    font-size: 1.6rem;
    background-color: transparent;
    user-select: none;
    font-family: var(--font-family);
}

.loading {
    position: absolute;
    right: var(--search-btn-width);
    width: 16px;
    height: 16px;
    margin: 0 1.2rem;
    color: rgba(22, 24, 35, 0.34);
    animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.clear {
    position: absolute;
    right: var(--search-btn-width);
    width: 16px;
    height: 16px;
    margin: 0 1.2rem;
    cursor: pointer;
}

.search-btn {
    display: flex;
    position: absolute;
    z-index: 0;
    right: 0;
    width: var(--search-btn-width);
    height: 100%;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    user-select: none;
    color: rgba(22, 24, 35, 0.34);

    svg {
        margin: auto;
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-spacing);
        left: 0;
        width: 1px;
        height: calc(var(--search-height) - var(--search-spacing) * 2);
        background-color: rgba(22, 24, 35, 0.12);
    }
}

.header-right {
    display: flex;
    align-items: center;
}

.upload-btn {
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 0 !important;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.see-more {
    margin-left: 1.6rem;
}

.see-more-icon {
    display: block;
    width: 28px;
    height: 28px;
    padding: 0 4px;
    cursor: pointer;
}

.message-icon {
    position: relative;
    width: 32px;
    height: 32px;
    padding: 3px 3px 0;
    margin-left: 16px;
    cursor: pointer;

    svg {
        display: block;
    }
}

.inbox-icon {
    display: block;
    margin-left: 16px;
    margin-top: -2px;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.avatar-wrapper {
    padding-left: 8px;
    margin-left: 16px;
    height: 32px;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    user-select: none;
}
