:root {
    --text-color: rgba(22, 24, 35, 1);
    --text-lighter-color: var(--text-lighter-color);
    --text-lightest-color: rgba(22, 24, 35, 0.5);

    --white-color: rgb(255, 255, 255);
    --bg-color: rgb(248, 248, 248);

    --line-height: 1.5;
    --font-size-heading: 24px;
    --font-size-title: 18px;
    --font-size-text: 16px;
    --font-size-small-text: 14px;
    --font-size-smallest-text: 12px;
    --font-weight-bold: 700;
    --font-weight-semiBold: 600;
    --font-weight-regular: 400;
}

.upload-wrapper {
    width: 100%;
    min-height: 80vh;
    background-color: var(--bg-color);
}

.upload-container {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    padding: 16px 0px;
}

.upload-content {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding: 24px 40px;
    background-color: var(--white-color);
    box-shadow: rgb(0 0 0 / 6%) 0px 2px 8px;
}

.upload-header {
    margin-left: -5px;
    font-size: var(--font-size-heading);
    line-height: var(--line-height);
    font-weight: var(--font-weight-bold);
    color: var(--text-color);
}

.upload-desc {
    margin-left: -5px;
    margin-top: 2px;
    font-size: var(--font-size-title);
    line-height: var(--line-height);
    color: rgba(22, 24, 35, 0.5);
    font-weight: var(--font-weight-regular);
}

.upload-body {
    display: flex;
    margin: 24px 0 130px 0;
}

.uploader {
    margin-top: 24px;
}

.uploader-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 458px;
    width: 260px;
    padding: 0 35px;
    border-radius: 8px;
    border: 2px dashed rgba(22, 24, 35, 0.2);
    transition: background 0.15s ease-in-out 0s;
    cursor: pointer;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.uploader-heading {
    text-align: center;
    margin-top: 24px;
    font-size: var(--font-size-title);
    line-height: var(--line-height);
    font-weight: var(--font-weight-semiBold);
    color: var(--text-color);
}

.uploader-text {
    margin: 4px 0 24px 0;
    font-size: var(--font-size-small-text);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height);
    color: var(--text-lighter-color);
}

.uploader-subtext {
    margin-bottom: 6px;
    text-align: center;
    line-height: var(--line-height);
    font-size: var(--font-size-small-text);
    font-weight: var(--font-weight-regular);
    color: var(--text-lighter-color);
}

.uploader-btn {
    margin-top: 32px;
    width: 100%;
}

.form {
    margin-left: 24px;
    flex: 1 1 0%;
    min-width: 0px;
}

.divide-video {
    position: relative;
    height: 104px;
    margin-bottom: 24px;
    border-radius: 2px;
    background-color: rgba(22, 24, 35, 0.03);
}

.editor-introduction-wrap {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    top: 16px;
    left: 24px;
    padding: 0px;
    gap: 12px;
}

.editor-img {
    display: flex;
    align-items: center;
    width: 24px;
    height: 18px;
}

.editor-introduction {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 496px;
    gap: 4px;
}

.editor-title {
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-semiBold);
    line-height: var(--line-height);
}

.editor-subtitle {
    opacity: 0.75;
    font-size: var(--font-size-small-text);
    font-weight: var(--font-weight-regular);
    color: var(--text-lighter-color);
    line-height: var(--line-height);
}

.editor-btn {
    position: absolute;
    right: 24px;
    top: 34px;
}

.form-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.auth-label {
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-semiBold);
    line-height: var(--line-height);
}

.form-label {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-text);
    line-height: var(--line-height);
}

.caption-input {
    position: relative;
    width: 100%;
    min-height: 46px;
    margin-top: 4px;
    padding: 0px 80px 0px 16px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 4px;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-text);
    line-height: var(--line-height) x;
    cursor: text;
}

// Custom Select Option
.select-container {
    position: relative;
}

.select-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    min-width: 36px;
}

.select-input {
    position: relative;
    margin-top: 4px;
    width: 100%;
    height: 36px;
    padding: 7px 12px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 4px;
    background: var(--white-color);
    outline: none;
    cursor: pointer;
}

.select-text {
    position: absolute;
    top: 53%;
    left: 4%;
    font-family: ProximaNova;
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-regular);
    color: var(--text-color);
}

.option-wrap {
    position: absolute;
    top: 300%;
    left: 0;
    z-index: 9;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 4px;
    padding: 4px 0px;
    border-radius: 4px;
    background: var(--white-color);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.option-item {
    width: 100%;
    display: flex;
    background: var(--white-color);
    padding: 10px 12px;
    font-family: ProximaNova;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-text);
    line-height: var(--line-height);
    color: var(--text-color);
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
        background: rgba(22, 24, 35, 0.06);
    }
}

.allow-wrap {
    margin-top: 24px;
}

.allow-label {
    margin-bottom: 4px;
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-semiBold);
    line-height: var(--line-height);
    color: var(--text-color);
}

.allow-content {
    display: flex;
    align-items: center;
    max-height: 24px;
}

.allow-option {
    height: 100%;
    padding: 0;
    line-height: var(--line-height) x;
    margin-right: 32px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover > .custom-checkbox {
        border: 1px solid var(--primary);
    }
}
.custom-checkbox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    pointer-events: none;
    border: 1px solid rgb(227, 227, 228);
}

.checkbox-checked {
    background: var(--primary);
    color: var(--white);
    border: 1px solid var(--primary);
}

.allow-text {
    margin-left: 12px;
    font-size: var(--font-size-text);
    line-height: var(--line-height);
    font-weight: var(--font-weight-regular);
}

.switch-wrap {
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 6px;
}

.switch-text {
    line-height: var(--line-height);
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-semiBold);
    color: var(--text-color);
    margin-right: 14px;
}

.form-desc {
    line-height: var(--line-height);
    color: var(--text-lighter-color);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-smallest-text);
}

.learn-more {
    margin-left: 5px;
    font-weight: var(--font-weight-semiBold);
    font-size: var(--font-size-smallest-text);
    line-height: var(--line-height);
    color: var(--text-color);
    cursor: pointer;
}

.btn-wrap {
    display: flex;
    margin-top: 24px;

    .btn-cancel {
        border-style: solid;
        border-width: 1px;
        border-radius: 2px;
        border-color: rgba(22, 24, 35, 0.12);
        background-color: var(--white-color);
        width: 164px;

        &:hover {
            background-color: rgba(245, 245, 245, 1);
            border-color: rgba(22, 24, 35, 0.2);
        }
    }

    .btn-post {
        color: rgba(22, 24, 35, 0.34);
        background-color: rgba(235, 235, 235, 1);
        border-color: rgba(235, 235, 235, 1);
        width: 164px;
        cursor: not-allowed;
    }
}
