.wrapper {
    position: relative;
    padding: 20px 8px;
}

.login-title {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    color: rgba(22, 24, 35, 0.5);
}

.login-btn {
    width: 100%;
    margin-top: 20px;

    span {
        font-size: 1.8rem;
    }
}

.modal {
    width: 483px;
    height: 100%;
    min-height: 60%;
}
